@import '../_/constants';

$font-size: 15px;

.restaurant-index-search-form {
  background: rgb(34, 38, 48);
  display: flex;
  justify-content: center;
}

.root-search-form {
  background: grey;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;

  &>h1 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin: 0 0 30px;
  }
}

.react-calendar {
  z-index: 1;
}

// below necessary to remove select border radius
select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
  border-width: 0px;
  cursor: pointer;
}

#res-search-input-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 1px solid $input-border;
  font-size: $font-size;
  width: 125px;
  height: 50px;
}

#res-search-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  border-right: 1px solid $input-border;
  font-size: $font-size;
  width: 180px;
  height: 50px;
}

#res-search-input-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-right: 0px solid $input-border;
  font-size: $font-size;
  font-weight: 400;
  width: 145px;
  height: 50px;
}

#res-search-input-text-island {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  border-right: 1px solid $input-border;
  font-size: $font-size;
  width: 280px;
  margin: 0 30px;
  height: 50px;
}

#res-search-input-island-button {
  border-radius: 5px;
  border-right: 0px solid $input-border;
  font-size: $font-size;
  font-weight: 400;
  width: 145px;
  height: 50px;
}

.search-calendar {
  display: table;
  position: relative;
  opacity: 0;
  transition: all 0.3s;
  top: -10px;
  left: -95px;
  font-size: 16px;
}

.search-calendar-active {
  opacity: 1;
  top: 12px;
}

#search-form-date {
  display: inline-block;
  background-color: white;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
  border-width: 0px;
  cursor: pointer;
  border-radius: 0px;
  border-right: 1px solid $input-border;
  font-size: $font-size;
  width: 180px;
  font-weight: 400;
  text-align: left;
  padding: 1.15rem;
  height: 50px;
  vertical-align: top;
}