@import '../_/constants';

.restaurant-show-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: $font-main;
  color: $not-quite-black;
  padding-bottom: 40px;
}

.restaurant-show-page>main {
  display: flex;
  justify-content: center;
}

.restaurant-show-page>main>section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.restaurant-show-main {
  width: 680px;
  position: relative;
  top: -46px;
}

// tabs
.restaurant-show-main>ul {
  display: flex;
  justify-content: flex-start;
  background: white;
  padding: 0 0.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid $input-border;
  background: white;
  z-index: 1;

  &>li {
    font-size: 16px;
    margin-right: 10px;
    padding: 15px .5rem;
    text-align: center;

    &>a {
      color: $not-quite-black;
    }
  }
}

.visual-summary-rating {
  width: 120px;
}

.restaurant-show-main-content {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  &>h1 {
    font-size: 48px;
    font-weight: 700;
    padding: 30px 0;
    border-bottom: 1px solid $input-border
  }

  &>div>h2 {
    font-size: 32px;
    font-weight: 400;
    padding: 20px 0;
    border-bottom: 1px solid $input-border;
  }

  &>* {
    padding: 20px 0;
  }
}

.restaurant-show-main-content-desc {
  line-height: 1.5rem;
}

.restaurant-show-main-content-visual-summary {
  display: flex;
  justify-content: flex-start;

  &>* {
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
  }

  &>*>i {
    margin-right: 8px;
  }
}

.show-photos {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 10px 0;

  & img {
    height: 210px;
    width: 210px;
    margin-right: 4px;
    margin-bottom: 4px;
  }
}

.restaurant-reviews-container {
  background: lightgrey;
  height: 245px;
  margin: 10px 0;
}

.review-item {
  height: aut0;
  width: 608px;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid $input-border;
}

.review-item-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 1rem;
  width: 6rem;
  flex: none;
  position: relative;

  &>* {
    margin-bottom: 5px;
    text-align: center;
  }

  &>h3 {
    color: rgb(150, 150, 150);
    font-size: 12px;
  }
}

.user-letter-circle {
  color: white;
  background: rgb(100, 125, 225);
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-item-right-top {
  display: flex;
  justify-content: flex-start;

  &>h2 {
    margin-left: 15px;
  }
}

.review-item-right-middle {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  font-size: 14px;

  &>h2 {
    margin-right: 6px;
  }

  &>h3 {
    color: rgb(207, 53, 32);
    margin-right: 12px;
  }
}

.review-item-body {
  line-height: 1.5;
  margin-top: 1rem;
}