@import '../_/constants';

.restaurant-reviews-container {
  background: lightgrey;
  height: 245px;
  margin: 10px 0;
}

.review-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // extra top padding so scrolling to anchor doesn't cover header
  padding: 40px 0 20px 0;
  border-bottom: 1px solid $input-border;

  &>h2 {
    font-size: 32px;
    font-weight: 400;
  }

  & i {
    font-size: 12px;
    margin-right: 5px;
  }

  &>h3 {
    display: flex;
    align-items: center;
    padding: 6px;
    margin-left: 15px;
    border-radius: 4px;
    border: 1px white solid;
    transition: border 0.3s;
    cursor: pointer;

    &:hover {
      border-color: red;
    }
  }
}

.review-item {
  position: relative;
  width: 608px;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid $input-border;
}

.review-item-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 1rem;
  width: 6rem;
  flex: none;
  position: relative;

  &>* {
    margin-bottom: 5px;
    text-align: center;
  }

  &>h3 {
    color: rgb(150, 150, 150);
    font-size: 12px;
  }
}

.user-letter-circle {
  color: white;
  background: rgb(100, 125, 225);
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-item-right-top {
  display: flex;
  justify-content: flex-start;
}

.review-item-right-middle {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  font-size: 14px;

  &>h2 {
    margin-right: 6px;
  }

  &>h3 {
    color: rgb(207, 53, 32);
    margin-right: 12px;
  }
}

.review-item-body {
  line-height: 1.5;
  margin-top: 1rem;
}

.user-review {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(207, 53, 32);
  font-size: 1.5rem;
  font-weight: bold;
}