@import '../_/constants';

.restaurant-show-sidebar {
  width: 320px;
  color: $not-quite-black;
  margin-left: 20px;
  position: relative;
  top: -46px;
}

.restaurant-details>li {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  font-size: 14px;

  & i {
    margin-right: 8px;
    width: 20px;
    font-size: 16px;
  }

  & label {
    font-weight: 600;
  }

  & p {
    font-weight: 400;
    margin-top: 5px;
  }

  & a {
    color: rgb(220, 40, 60);
  }
}