@import '../_/constants';

.profile-page {
  font-family: $font-main;
  padding: 2rem 0 4rem 4rem;
  background: rgb(235, 235, 235);

  &>h1 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &>div {
    display: flex;
    justify-content: flex-start;
  }
}

.profile-side-bar {
  display: flex;
  flex-direction: column;
  width: 200px;

  & li {
    padding-bottom: 1.5rem;
  }

  &>ul>li {
    padding-left: 20px;
  }

  & a {
    font-weight: 300;
    font-size: 16px;
    color: rgb(112, 112, 112);

    &:hover {
      color: rgb(220, 40, 60);
    }
  }
}

.reservations>h2 {
  background: white;
  font-weight: 400;
  font-size: 18px;
  width: 400px;
  padding: 1.5rem 1rem;
  margin-bottom: 6px;
}

.profile-reservation-item {
  display: flex;
  justify-content: flex-start;
  width: 400px;
  background: white;
  height: auto;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, .08);
  margin-bottom: 6px;

  &>img {
    height: 80px;
    width: 80px;
    margin-right: 20px;
  }

  & h2 {
    color: $not-quite-black;
    margin-bottom: 10px;
  }

  & h3 {
    color: rgb(150, 150, 150);
  }
}