@import '../_/constants';

.profile-page {
  font-family: $font-main;
  padding: 2rem 0 4rem 4rem;
  background: rgb(235, 235, 235);

  &>h1 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &>div {
    display: flex;
    justify-content: flex-start;
  }
}

.profile-side-bar {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  margin-right: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;

  & li {
    padding-bottom: 1.5rem;
  }

  &>ul>li {
    padding-left: 20px;
  }

  & a {
    font-weight: 400;
    font-size: 16px;
    color: rgb(110, 110, 110);

    &:hover {
      color: rgb(220, 40, 60);
    }
  }
}

.reservations>h2 {
  background: white;
  font-weight: 400;
  font-size: 22px;
  width: 400px;
  padding: 1.5rem 1rem;
  margin-bottom: 6px;
}

.profile-reservation-item {
  display: flex;
  justify-content: flex-start;
  width: 400px;
  background: white;
  height: auto;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, .08);
  margin-bottom: 6px;
  font-weight: 375;
  font-size: 1.1rem;

  & img {
    height: 80px;
    width: 80px;
    margin-right: 20px;
    border-radius: 8px;
  }

  & h2 {
    color: $not-quite-black;
    margin-bottom: 10px;
  }

  & h3 {
    color: rgb(130, 130, 130);
    font-size: .9rem;
  }
}

.profile-saved_restaurant-item {
  display: flex;
  justify-content: flex-start;
  width: 400px;
  background: white;
  height: auto;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, .08);
  margin-bottom: 6px;
  font-weight: 375;

  & img {
    height: 80px;
    width: 80px;
    margin-right: 20px;
    border-radius: 8px;
  }

  &>div>* {
    margin-bottom: 8px;
  }

  & h2 {
    color: $not-quite-black;
    display: flex;
    align-items: center;
  }

  & h3 {
    color: rgb(150, 150, 150);
    font-size: 14px;
  }

  & i {
    margin-right: 5px;
  }
}