@import '../_/constants';

footer {
  background: rgb(38, 38, 38);
  font-family: $font-main;
  height: 350px;
}

.footer-flex {
  display: flex;
  justify-content: flex-start;
  margin-left: $footer-margin-left;
}

.footer-flex>ul {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 100px;
}

.footer-flex>ul>* {
  margin: 10px 0;
  font-size: 14px;
}

.footer-flex a {
  color: lightgray;
  font-weight: 400;
}

.legal {
  font-size: 13px;
  margin: 30px 0 10px $footer-margin-left;
}

.legal>ul {
  display: flex;
  justify-content: flex-start;
  color: lightgray;
}

.legal>ul>li {
  margin: 0 20px 10px 0;
}

.legal>p {
  color: grey;
}