@import '../_/constants';

html,
body {
  height: 100%;
  font-family: $font-main;
}

#root {
  height: 100%;
}

footer {
  background: rgb(38, 38, 38);
  font-family: $font-main;
  height: 200px;
  padding: 20px 0;

  & h2 {
    color: lightgray;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.footer-flex {
  margin-left: $footer-margin-left;
}

.footer-flex>ul {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-right: 100px;
}

.footer-flex>ul>* {
  margin: 10px 0;
  font-size: 14px;
}

.footer-flex a {
  color: lightgray;
  font-weight: 400;
}

.legal {
  font-size: 13px;
  margin: 30px 0 10px $footer-margin-left;
}

.legal>ul {
  display: flex;
  justify-content: flex-start;
  color: lightgray;
}

.legal>ul>li {
  margin: 0 20px 10px 0;
}

.legal>p {
  color: grey;
}

.about-me {
  display: flex;
  justify-content: flex-start;

  &>li {
    margin-left: 30px;
  }

  &>li:first-child {
    margin-left: 0;
  }

  & a {
    font-size: 1rem;
  }

  & i {
    margin-right: 5px;
  }
}