@import '../_/constants';

nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 2rem;
  font-family: $font-main;
  background: white;

  & img {
    height: 40px;
  }
}

nav>ul>* {
  display: flex;
  align-items: center;
}

.left-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-nav {
  display: flex;
  justify-content: flex-end;

  &>* {
    padding: 0 1rem;
  }
}

.nav-logo {
  font-size: 20px;
  font-weight: 700;
  margin-right: 20px;
  cursor: pointer;

  & img {
    margin-right: 5px;
  }
}

.nav-place {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  pointer-events: none;
  padding: 0 .5rem;
  border-left: rgb(230, 230, 230) solid 1px;
  border-right: rgb(230, 230, 230) solid 1px;

  &>h2 {
    font-weight: 500;
    font-size: 18px;
    margin: 0 .5rem;
  }
}

.place {
  color: lightgrey;
}

.signup-button {
  color: white;
  font-weight: 100;
  font-size: .875rem;
  background: rgb(36, 121, 155);
  border-radius: 5px;
  margin: 10px 0;
}

.signin-button {
  color: black;
  font-weight: 500;
  font-size: 1rem;
}

.drop-down {
  display: block;
  opacity: 0;
  transition: all .4s;
  position: absolute;
  background: white;
  right: 42px;
  top: 25px;
  white-space: nowrap;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  padding: 4px 0;
  z-index: 1;

  & a {
    display: block;
    color: grey;
    padding: 15px;
    cursor: pointer;

    &:hover {
      filter: brightness(50%);
    }
  }
}

.drop-down-active {
  opacity: 1;
  top: 48px;
}

.calendar-button>i {
  color: grey;
  font-size: 1.1rem;
}

.profile-button {
  font-size: 1.2rem;
}